name: Security CI Pipeline

on: [push]

jobs:
  security-check:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install bandit
        pip install -r requirements.txt || true


    #Bandit - Static Code Analysis (Python SAST)
    - name: Run Bandit Security Scan
      continue-on-error: true
      run: |
        bandit -r . -f txt -o bandit_report.txt

    #Gitleaks - Secret Scanning
    - name: Run Gitleaks Secret Scan
      uses: zricethezav/gitleaks-action@v2
      

    #Trivy - Vulnerability Scanner
    - name: Install Trivy
      run: |
        sudo apt-get update -y
        sudo apt-get install wget -y
        wget -q https://github.com/aquasecurity/trivy/releases/latest/download/trivy_Linux-64bit.tar.gz
        tar zxvf trivy_Linux-64bit.tar.gz
        sudo mv trivy /usr/local/bin/



    - name: Run Trivy Filesystem Scan
      run: trivy fs . --format json --output trivy-report.json

    # Upload All Reports
    - name: Upload Security Reports
      uses: actions/upload-artifact@v4
      with:
        name: security-reports
        path: |
          bandit_report.txt
          gitleaks-report.json
          trivy-report.json
